<a href="https://colab.research.google.com/github/Alfiina/ICT_INTERNSHIP/blob/day4/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv(r'/content/Social_Network_Ads (2) (1).csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [4]:
data.shape

(400, 5)

In [5]:
data.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [6]:
data.Age.nunique()

43

In [7]:
data.EstimatedSalary.nunique()

117

In [8]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [9]:
data['Gender']=label_encoder.fit_transform(data['Gender'])

In [10]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [11]:
X=data.drop('Purchased',axis=1)
y=data['Purchased']

In [12]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error,r2_score

In [17]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  0.09949629077064023
R Squared value is:  0.5626536669422408

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
rfc = RandomForestClassifier(n_estimators=100, random_state=42)

In [21]:
model1 = rfc.fit(X_train, y_train)

In [22]:
predictions = model1.predict(X_test)

In [23]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  0.075
R Squared value is:  0.6703296703296704

In [24]:
 X.describe()

            User ID      Gender         Age  EstimatedSalary
count  4.000000e+02  400.000000  400.000000       400.000000
mean   1.569154e+07    0.490000   37.655000     69742.500000
std    7.165832e+04    0.500526   10.482877     34096.960282
min    1.556669e+07    0.000000   18.000000     15000.000000
25%    1.562676e+07    0.000000   29.750000     43000.000000
50%    1.569434e+07    0.000000   37.000000     70000.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000
max    1.581524e+07    1.000000   60.000000    150000.000000

In [25]:
Xn=X.drop('Gender',axis=1)

In [26]:
Xn.head()

    User ID  Age  EstimatedSalary
0  15624510   19            19000
1  15810944   35            20000
2  15668575   26            43000
3  15603246   27            57000
4  15804002   19            76000

In [27]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler=MinMaxScaler(feature_range=(0,1))
Xn=min_max_scaler.fit_transform(Xn)

In [28]:
type(Xn)

numpy.ndarray

In [29]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [30]:
Xn=pd.DataFrame(Xn,columns=['User ID', 'Age', 'EstimatedSalary'])

In [31]:
Xn.describe()

          User ID         Age  EstimatedSalary
count  400.000000  400.000000       400.000000
mean     0.502323    0.467976         0.405500
std      0.288309    0.249592         0.252570
min      0.000000    0.000000         0.000000
25%      0.241704    0.279762         0.207407
50%      0.513595    0.452381         0.407407
75%      0.738991    0.666667         0.540741
max      1.000000    1.000000         1.000000

In [32]:
Xn.shape

(400, 3)

In [33]:
X.drop(['User ID', 'Age', 'EstimatedSalary'],axis=1,inplace=True)

In [34]:
X=pd.concat([X,Xn],axis=1)

In [35]:
X.head()

   Gender   User ID       Age  EstimatedSalary
0       1  0.232636  0.023810         0.029630
1       1  0.982732  0.404762         0.037037
2       0  0.409926  0.190476         0.207407
3       0  0.147083  0.214286         0.311111
4       1  0.954801  0.023810         0.451852

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [37]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [38]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  0.09949629077063538
R Squared value is:  0.5626536669422622

In [39]:
data3=data

In [40]:
data3

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [41]:
X = data3.drop('Purchased',axis=1)
y = data3['Purchased']

In [42]:
X.describe()

            User ID      Gender         Age  EstimatedSalary
count  4.000000e+02  400.000000  400.000000       400.000000
mean   1.569154e+07    0.490000   37.655000     69742.500000
std    7.165832e+04    0.500526   10.482877     34096.960282
min    1.556669e+07    0.000000   18.000000     15000.000000
25%    1.562676e+07    0.000000   29.750000     43000.000000
50%    1.569434e+07    0.000000   37.000000     70000.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000
max    1.581524e+07    1.000000   60.000000    150000.000000

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
std_scl=StandardScaler()

In [45]:
X2 = X.drop('Gender',axis=1)

In [46]:
X2 = std_scl.fit_transform(X2)

In [48]:
type(X2)

numpy.ndarray

In [49]:
X2 = pd.DataFrame(X2,columns=['User ID', 'Age', 'EstimatedSalary'])

In [50]:
X.drop(['User ID', 'Age', 'EstimatedSalary'],axis=1,inplace=True)

In [51]:
X=pd.concat([X,X2],axis=1)

In [52]:
X.head()

   Gender   User ID       Age  EstimatedSalary
0       1 -0.936579 -1.781797        -1.490046
1       1  1.668387 -0.253587        -1.460681
2       0 -0.320877 -1.113206        -0.785290
3       0 -1.233692 -1.017692        -0.374182
4       1  1.571389 -1.781797         0.183751

In [53]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [54]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [55]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  0.09949629077063533
R Squared value is:  0.5626536669422624