<a href="https://colab.research.google.com/github/Alfiina/ICT_INTERNSHIP/blob/day1/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
scores=[10,20,30,40]
for score in scores:
     print(score)

10
20
30
40

In [ ]:
def function_name(argument):

In [ ]:
a=1
while a<10:
   print(a)
   a+=2

1
3
5
7
9

In [ ]:
for val in 'string':
  if val== 'i':
      continue
  print( val)

s
t
r
n
g

In [ ]:
a=int(input("Enter the number1: "))
b=int(input("enter the number2:"))
c=int(input("Enter the choice sum=1,sub=2,mul=3,div=4: "))
if c==1:
    d=a+b;
elif c==2:
    d=a-b
elif c==3:
    d=a*b
elif c==4:
    d=a/b
else:
  print("error")
print(d)

Enter the number1: 10
enter the number2:5
Enter the choice sum=1,sub=2,mul=3,div=4: 3
50

In [ ]:
a=int(input("Enter the number: "))
if a>1:
  for i in range (2,a-1):
     if a%i==0:
       print("number is composit")
       break
     else:
      print("number is prime")
  else:
      print("number is prime")

Enter the number: 10
number is composit

In [ ]:
n=int(input("Enter the limit "))

sum=0
for i in range(0,n+1):
   sum=sum+i
print(sum)

Enter the limit 5
15

In [ ]:
year=int(input("Enter the year "))
if year%4!=0:
     print("year not leap")
else:
  if(year%100!=0):
    print("year not leep")
  else:
       if year%400!=0:
         print("Year not leap")
       else:
        print("year is leap")

Enter the year4000
year is leap

In [ ]:
def greet():
  print("hello")
greet();

hello

In [ ]:
greet()

hello

In [ ]:
def add(a,b):
  sum=a+b
  print(sum)

In [ ]:
add(2,3)

5

In [ ]:
numbers = [1, 2, 3, 4, 5]
sum = 0
for num in numbers:
    print(num)
    sum += num
print("The sum of the numbers is:", sum)

1
2
3
4
5
The sum of the numbers is: 15

In [ ]:
a=input('Enter the Sentence:- ')
print("The String is",a)
p=len(a)
print("the length of the string is",p)
if p % 2 == 0:
    print(a[0:p//2])
else:
    print("the first half is: ",a[0:(p+1)//2])

Enter the Sentence:- alfina
The String is alfina
the length of the string is 6
alf

In [ ]:
a=input('Enter the Sentence1:- ')
b=input('Enter the Sentence2:- ')
c=a+b
print(c)
print(len(c))

Enter the Sentence1:- alfina
Enter the Sentence2:- noushad
alfinanoushad
13

In [ ]:
t = (78, 45, 32, 19, 82, 77, 40, 39)
print("Original tuple:", t)
m = t[0:2] + (100,) + t[3:len(t)]
print("Modified tuple:", m)

Original tuple: (78, 45, 32, 19, 82, 77, 40, 39)
Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
lstA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

# (a) delete first occurrence of 32
for i in range(len(lstA)):
    if lstA[i] == 32:
        del lstA[i]
        break

print("List after deleting first occurrence of 32:", lstA)

# (b) delete all occurrences of 40
for i in range(len(lstA)):
    if lstA[i] == '40':
        del lstA[i]
        i -= 1

print("List after deleting all occurrences of 40:", lstA)

# (c) delete value at index 5
del lstA[5]
print("List after deleting value at index 5:", lstA)

# (d) modify the value at index 9 to 300
lstA[9] = 300
print("List after modifying value at index 9 to 300:", lstA)

# (e) add 200 at index 2
lstA = lstA[:2] + [200] + lstA[2:]
print("List after adding 200 at index 2:", lstA)

# (f) print the final list with its length, maximum value, and sum of all elements
print("Final list:", lstA)
print("Length of list:", len(lstA))
p=lstA[1]
for i in range(2,len(lstA)):
    if p<lstA[i]:
      p=lstA[i]

print("Maximum value of list:", p)
s=0
for i in range(len(lstA)):
  s=s+lstA[i]
print("Sum of all elements in list:",s)

List after deleting first occurrence of 32: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
List after deleting all occurrences of 40: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
List after deleting value at index 5: [19, 10, 55, 31, 32, 29, 10, 65, 77, 40, 40]
List after modifying value at index 9 to 300: [19, 10, 55, 31, 32, 29, 10, 65, 77, 300, 40]
List after adding 200 at index 2: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300, 40]
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300, 40]
Length of list: 12
Maximum value of list: 300
Sum of all elements in list: 868