<a href="https://colab.research.google.com/github/Alfiina/ICT_INTERNSHIP/blob/day2/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OOPS**

In [ ]:
class student():
  def __init__(self,name,rollno,mark):
    self.name=name
    self.rollno=rollno
    self.mark=mark

In [ ]:
students1=student('alfina',11,10)

In [ ]:
students1.rollno

11

In [ ]:
class animal():
  def __init__(dog,name,color,breed):
    dog.name=name
    dog.color=color
    dog.breed=breed

In [ ]:
animald1=animal('TOM','white','husky')

In [ ]:
animald1.breed

'husky'

In [ ]:
animald1.name

'TOM'

In [ ]:
class student():
  def __init__(self,name,rollno,mark):
    self.name=name
    self.rollno=rollno
    self.mark=mark

  def result(self):
    if self.mark>40:
      return 'pass'
    else:
      return 'fail'

In [ ]:
s1=student('anu',10,100)
s2=student('arun',11,30)
s3=student('ali',12,50)
s4=student('anu',13,40)

In [ ]:
st=[s1,s2,s3,s4]

In [ ]:
passs=[]
fail=[]
sort_list={}
for x in st:
  if x.result()=='pass':
   passs.append(x.name)
   sort_list['passs']=passs
  else:
    fail.append(x.name)
    sort_list['fail']=fail

In [ ]:
print(passs)
print(fail)

['anu', 'ali']
['arun', 'anu']

In [ ]:
class circle():
  def __init__(self,radius):
    self.radius=radius

  def peremeter(self):
        return(2*3.14*self.radius)
        
        
  def area(self):
        return(3.14*self.radius*self.radius)
rad=int(input("enter the radius"))
c=circle(rad)
print(c.area())
print(c.peremeter())

enter the radius10
314.0
62.800000000000004

In [ ]:
class circle():
  def __init__(self,radius):
    self.radius=radius

  def peremeter(self):
        return(2*3.14*self.radius)
        
        
  def area(self):
        return(3.14*self.radius*self.radius)
c=circle(10)
print(c.area())
print(c.peremeter())

314.0
62.800000000000004

ASSIGNMENT **DAY2**

Q-*1*

In [ ]:
list=['banana','orange','mango','lemon']
reverse=[]
for i in range(len(list)-1,-1,-1):
  reverse.append(list[i])
print(reverse)

['lemon', 'mango', 'orange', 'banana']

Q-*2*

In [ ]:
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

Q-*3*

In [ ]:
n=0
for i in range(2,101): 
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        n=n+1
        print(i,end=",")
print("\nnumber of prime numbers is ",n)

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,
number of prime numbers is  25

Q-*4*

In [ ]:
n=int(input("enter the number" ))
if(n%2==0):
     print(n**2)
else:
     print(n**3)

enter the number3
27

Q-*5*

In [ ]:
words = input("Enter a sequence of words: ").split()
longest_word = ""

for word in words:
    if len(word) > len(longest_word):
        longest_word = word

print("The longest word is:", longest_word)

Enter a sequence of words: my name is anu
The longest word is: name

Q-6

In [ ]:
i=0
total = 0
list=[3,4,5,6,7]
while i<len(list):
    total=total+list[i]
    i += 1

average = total / 5
print("The average of the 5 numbers is:", average)

The average of the 5 numbers is: 5.0

Q-*7*

In [ ]:
num = int(input("Enter an integer: ")) 
sum = 0
remainder = 0
while num > 0:
    remainder = num % 10 
    sum=sum+remainder   
    num //= 10 
print("The sum of digits is:", sum)

Enter an integer: 37
The sum of digits is: 10

Q-*9*

In [ ]:
year=int(input("Enter the year "))
if year%4!=0:
     print("year not leap")
else:
  if(year%100!=0):
    print("year not leep")
  else:
       if year%400!=0:
         print("Year not leap")
       else:
        print("year is leap")

Enter the year 2034
year not leap

Q-*9*

In [ ]:
year=int(input("Enter the year "))
if year%4!=0:
     print("year not leap")
else:
  if(year%100!=0):
    print("year not leap")
  else:
       if year%400!=0:
         print("Year not leap")
       else:
        print("year is leap")

Enter the year 2048
year not leep

Q-*8*

In [ ]:
principal = float(input("Enter the principal value: "))
rate = float(input("Enter the rate of interest: "))
years = int(input("Enter the number of years: "))

for year in range(1, years+1):
    interest = principal * rate * year
    amount = principal + interest
    print(f"Year :",year)
    print(f"Interest = ",interest)
    print(f"Amount = ",amount)

Enter the principal value: 100000
Enter the rate of interest: 0.05
Enter the number of years: 5
Year : 1
Interest =  5000.0
Amount =  105000.0
Year : 2
Interest =  10000.0
Amount =  110000.0
Year : 3
Interest =  15000.0
Amount =  115000.0
Year : 4
Interest =  20000.0
Amount =  120000.0
Year : 5
Interest =  25000.0
Amount =  125000.0

In [ ]:
principal = 100000
rate =0.05
years = 5

for year in range(1, years+1):
    interest = principal * rate * year
    amount = principal + interest
    print(f"Year :",year)
    print(f"Interest = ",interest)
    print(f"Amount = ",amount)

Year : 1
Interest =  5000.0
Amount =  105000.0
Year : 2
Interest =  10000.0
Amount =  110000.0
Year : 3
Interest =  15000.0
Amount =  115000.0
Year : 4
Interest =  20000.0
Amount =  120000.0
Year : 5
Interest =  25000.0
Amount =  125000.0